@import url(hovercraft.css);

body {
  background: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  background: #000;
  color: rgba(255, 255, 255, .7);
}

a:hover {
  background: rgba(255, 255, 255, .7);
  color: rgba(0, 0, 0, .7);
}

div#ministry h1 {
  font-size: 2.5em;
}

div#current-event h1,
div#nycpython-event h1,
div#flask-nyc-event h1 {
  font-size: 1.8em;
}

div#nycpython-schedule,
div#community {
  width: 590px;
}

div#nycpython-event,
div#flask-nyc-event {
  width: 940px;
}

div#nycpython-schedule p {
  margin-bottom: 1.5em;
}

div#organizers h1 {
  font-size: 1.25em;
  margin-bottom: 0;
}

div#organizers p {
  font-size: 1em;
  margin-bottom: .6em;
  margin-top: 0;
}

div#logo {
  width: 1000px;
}

/* tweaks */
div#nycpython-past p, div#nycpython-upcoming p {
  font-size: 80%;
}

div#office-hours-study-groups p {
  font-size: 90%;
}

.impress-on-logo {
	background-color: white;
}

.impress-on-logo a {
	background-color: white;
	color: black;
}

.impress-on-logo a:hover {
	background-color: black;
	color: white;
}
